SteamyWP7/SampleData/ProfileDataSource/ProfileDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ProfileDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ProfileDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProfileDataSource" type="tns:ProfileDataSource" />
  <xs:complexType name="ProfileDataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Eid" type="xs:string" />
    <xs:attribute name="Thumbnail" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="1" name="Gender" type="xs:double" />
    <xs:attribute blend:FormatParameters="3" name="Age" type="xs:double" />
    <xs:attribute name="Picture" type="tns:Basic-Image" />
    <xs:attribute name="Link" type="xs:string" />
    <xs:attribute blend:FormatParameters="4" name="Rating" type="xs:double" />
    <xs:attribute blend:FormatParameters="10" name="Votes" type="xs:double" />
    <xs:attribute blend:FormatParameters="3" name="Percentile" type="xs:double" />
    <xs:attribute name="Emid" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>